
@{
    ViewBag.Title = "За проекта";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
 
</address>
<address>
    <img src="@Url.Content("~/Content/logo.png")" style="width: 130px; height: 130px; float: left" />
    <p><b>E-School е продукт, който позволява използването на модерни технологии дори и в училище.</b></p>
    Целта на този проект е да се улесни комуникацията между ученик и учител, като едновременно предоставя на учениците материали, които да използват. Това е онлайн платформа изградена както за ползване от учители, така и от ученици. Всичко качено се запазва в уеб сайта, което предоставя възможност за по-лесна и систематизирана система за учене. Услугата онлайн консултации, която се предава на живо, спестява време, както на учителите, така и на учениците. Отделно, за всеки урок биват качени ресурси, които подпомагат усвояването на материала.
</address>