
@{
    ViewBag.Title = "За проекта";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
 
</address>
<address>
    <a href="#"><img src="@Url.Content("~/Content/logo2.png")" style="width: 130px; height: 130px; " /></a>
</address>