@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    
    <abbr title="Phone"></abbr><br />
    <strong>e-mail:</strong>
    example@gmail.com<br />
    <strong>tel:</strong>
   
    8656589789
    
    
</address>
