 @{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    
    <abbr title="Phone"></abbr><br />
    <strong>E-mail:</strong>
    example@gmail.com<br />
    <strong>Skype:</strong>
    example_2004<br />
    <strong>Facebook:</strong>
    Example Examplelov<br />
    <strong>Tel:</strong>
    8656589789
    
    
</address>
