@{
    ViewBag.Title = "Начало";
}
<div class="jumbotron">
    <h1>E-SCHOOL</h1>
    <p class="lead">Малко повече информация за нашия проект</p>
    <p><a href="@Url.Content("../Home/About")" class="btn btn-primary btn-lg">Натисни тук &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ТУЕС</h2>
        <p>
            Единствено по рода си в България, ТУЕС към ТУ предлага най-доброто образование в сферата на информационните технологии. Училището разполага с модерни компютърни лаборатории и отлични преподаватели.
        </p>
        <a class="btn btn-primary" href="http://www.elsys-bg.org/" target="_blank" class="btn btn-primary">Научете повече за ТУЕС &raquo;</a>
        

    </div>
    <div class="col-md-4">
        <h2>НПМГ</h2>
        <p>
            В Националната природо-математическа гимназия „Акад. Любомир Чакалов” се обучават над 1000 ученици в 44 паралелки с профили Математика, Физика, Химия, Биология, География, Химия и биология, Информатика.
            Обучението по профилиращите предмети се осъществява чрез съвместна учебна работа със съответните факултети на Софийския университет „Св. Климент Охридски”.
        </p>
        <p><a class="btn btn-primary" href="https://npmg.org/" target="_blank">Научете повече за НПМГ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Джон Атанасов</h2>
        <p>Тук можете да намерите полезна и актуална информация, както за професиите и специалностите, които се изучават, така и за възможностите за реализация, които получават нашите възпитаници след като завършат.</p>
        <p><a class="btn btn-primary" href="http://www.spge-bg.com/" target="_blank">Научете повече за Джон Атанасов &raquo;</a></p>
    </div>
</div>